@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:ital,wght@0,100;0,200;0,400;1,300;1,400&family=PT+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: rgb(0, 0, 0);
}
